<h1>Trips</h1>
<p>Below is a list of all trips.</p>

<% @trips.each do |trip| %>
<li>
 Trip <%= link_to trip.id, trip_path(trip.id)%> 
 Driver: <%= link_to Driver.find(trip.driver_id).name, driver_path(trip.driver_id)%>
 Passenger: 
 Date:
 Rating: 
 Cost:

</li>
<% end %>
