<h1>Drivers</h1>
<div><%= link_to "New Driver", new_driver_path %></div>
<p>Below is a list of all drivers.</p>
<% @drivers.each do |driver| %>
<li>
 <%= link_to driver.name, driver_path(driver.id)%>
</li>
<% end %>
